@model OnTheSpot.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<div class="bodytext">
    <h2>Details</h2>

    <fieldset>
        <legend>UserProfile</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.UserRole)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserRole)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>