@model IEnumerable<OnTheSpot.Models.Order>


<div>
    <ul id ="m">
       
        @if (User.IsInRole("Admin")||User.IsInRole("Courier"))
        {
            if(User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("All Orders", "Index", "Orders")</li>
                <li>@Html.ActionLink("Outstanding Orders", "Index", new { outstanding = true })</li>
            } else {
             <li>@Html.ActionLink("Orders", "Index", "Orders")</li>   
            }
            <li>@Html.ActionLink("Packages", "Index", "Packages")</li>

        }
        
    </ul>
</div>


@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin") || User.IsInRole("Customer")) {
<p>
    @Html.ActionLink("New Order", "Create")
</p>
}


@using (Html.BeginForm())
{
    <p>
        Order ID: @Html.TextBox("searchInt")
        <input type="submit" value="Search" />
    </p>
}


<table>
    <tr>
        <th>
            @Html.ActionLink("Order Id", "Index", 
            new { sortOrder = ViewBag.OrderIdSortParm, outstanding = ViewBag.IsOut, searchInt = ViewBag.Search })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th>
            @Html.ActionLink("Order Submitted", "Index", 
            new { sortOrder = ViewBag.DateSortParm, outstanding = ViewBag.IsOut, searchInt = ViewBag.Search })

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>

    </tr>
    
    
        @foreach (var item in Model) {
            
            if(User.IsInRole("Admin" )|| User.IsInRole( "Courier")) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderSubmitted)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                @if (User.IsInRole("Admin")) {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
                </td>
                }
            </tr>
    }
    }
    
    
        
        @foreach (var item in Model)
        {
            if(item.UserId == WebSecurity.GetUserId(User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pickup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickupAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderSubmitted)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID })
                    </td>
                </tr>
            }
        }

</table>
