@model IEnumerable<OnTheSpot.Models.Order>


<div>
    <ul id ="m">
       
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("All Orders", "Index", "Orders")</li>
            <li>@Html.ActionLink("Outstanding Orders", "Index", new { outstanding = true })</li>
            <li>@Html.ActionLink("Packages", "Index", "Packages")</li>
        }
        
    </ul>
</div>


@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm())
{
    <p>
        Order ID: @Html.TextBox("searchInt")
        <input type="submit" value="Search" />
    </p>
}


<table>
    <tr>
        <th>
            @Html.ActionLink("Order Id", "Index", 
            new { sortOrder = ViewBag.OrderIdSortParm, outstanding = ViewBag.IsOut, searchInt = ViewBag.Search })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.ActionLink("Order Submitted", "Index", 
            new { sortOrder = ViewBag.DateSortParm, outstanding = ViewBag.IsOut, searchInt = ViewBag.Search })

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pickup)
        </th>
    </tr>
    @if(User.IsInRole("Admin" )||User.IsInRole( "Courier"))
    {
        foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pickup)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
                </td>
        
            </tr>
        }
    }else
    {
        
        foreach (var item in Model)
        {
            if(item.UserId == WebSecurity.GetUserId(User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderSubmitted)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Pickup)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID })
                    </td>
                </tr>
            }
        }
    }

</table>
