@model OnTheSpot.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

@*Admin and courier only view - view the details of a particular vehicle*@

<div class="bodytext">

    <h1>Vehicle Details</h1>
    <h2>Overview of User Information</h2>

    <fieldset>
        <legend> Identification </legend>
        <div class="display-field">
            <strong> Registration: </strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Registration)
        </div>
        <div class="display-field">
            <strong> Make: </strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class="display-field">
            <strong> Owner: </strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Owner)
        </div>

        <legend> Current Status </legend>

        <div class="display-field">
            <strong> In Use? </strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.InUse)
        </div>
        <div class="display-field">
            <strong> Used By: </strong>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UsedBy)
        </div>
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Registration }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>